@model TeacherVM
@{
    ViewData["Title"] = "index";
}
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>our teachers</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            @foreach(var item in Model.Teachers)
            {
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-teacher mb-45">
                        <div class="single-teacher-img">
                            <a asp-action="teacherdetails" asp-route-id="@item.Id"><img src="~/img/teacher/@item.ImageUrl" alt="teacher"></a>
                        </div>
                        <div class="single-teacher-content text-center">
                            <h2><a href="teacher-details.html">@item.TeacherName</a></h2>
                            <h4>@item.Profession</h4>
                            <ul>
                                <li><a href="@item.Contact.FirstOrDefault().Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="@item.Contact.FirstOrDefault().Pinterest"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="@item.Contact.FirstOrDefault().Vimeo"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="@item.Contact.FirstOrDefault().Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
          
        </div>
    </div>
</div>
<!-- Teacher End -->