@model TeacherPrivateVM
@{
    ViewData["Title"] = "index";
}
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>teachers / details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-details-area pt-150 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="teacher-details-img">
                    <img src="~/img/teacher/@Model.ImageUrl" alt="teacher">
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="teacher-details-content ml-50">
                    <h2>@Model.TeacherName</h2>
                    <h5>@Model.Profession</h5>
                    <h4>about me</h4>
                    <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human happiness pcias unde omnis iste natus error sit voluptatem accusantium ue laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quas i architeo beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas </p>
                    <ul>
                        <li><span>degree:@Model.Degree </span></li>
                        <li><span>experience: </span>@Model.Experience</li>
                        <li><span>hobbies: </span>@Model.Hobbies</li>
                        <li><span>faculty: </span>@Model.Faculty</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="teacher-contact">
                    <h4>contact information</h4>
                    <p><span>mail me : </span>@Model.ContactVM.Facebook</p>
                    <p><span>make a call : </span>@Model.ContactVM.PhoneCall</p>
                    <p><span>skype : </span>@Model.ContactVM.Skype</p>
                    <ul>
                        <li><a href="@Model.ContactVM.Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="@Model.ContactVM.Pinterest"><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="@Model.ContactVM.Vimeo"><i class="zmdi zmdi-vimeo"></i></a></li>
                        <li><a href="@Model.ContactVM.Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="skill-area">
                    <h4>skills</h4>
                </div>
                <div class="skill-wrapper">
                    <div class="row">
                        @foreach(var item in Model.skills)
                        {
                            <div class="col-sm-4">
                                <div class="skill-bar-item">
                                    <p>@item.SkillName</p>
                                    <div class="progress">
                                        <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 85%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                            <span class="text-top">@item.SkillPercentage</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Teacher End -->