@model HomeVM
@{
    ViewData["Title"] = "index";
}
<!-- Background Area Start -->
        <section id="slider-container" class="slider-area"> 
            <div class="slider-owl owl-theme owl-carousel"> 
                <!-- Start Slingle Slide -->
        @foreach(var item in Model.SliderContents)
        {
            <div class="single-slide item" style="background-image: url(/img/slider/@item.ImageURL)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-left-5">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        <h3>@item.Title </h3>
                                    
                                        <p>@item.Desc</p>
                                        <a class="default-btn" href="about.html">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        
        }
          </div>
        </section>
		<!-- Background Area End -->
        <!-- Notice Start -->
        <section class="notice-area pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="notice-left">
                            <h3>notice board</h3>
                            @foreach(var item in Model.Events)
                    {
                        <div class="single-notice-left mb-25 pb-25">
                            <h4>@item.ExactDate</h4>
                            <p>@item.Description.Substring(0,140) </p>
                        </div>
                    }
                    
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="notice-right">
                            <div class="single-notice-right mb-25 pb-25">
                                <h3>PROFESSIONAL TEACHER</h3>
                                <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                            </div> 
                            <div class="single-notice-right mb-25 pb-25">
                                <h3>Online courses</h3>
                                <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                            </div> 
                            <div class="single-notice-right">
                                <h3>easy to addmission</h3>
                                <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Notice End -->
        <!-- Choose Start -->
        <section class="choose-area pb-85 pt-77">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                        <div class="choose-content text-left">
                            <h2>@Model.ChooseArea.Title</h2>
                            <p>@Model.ChooseArea.Desc </p>
                            
                            <a class="default-btn" href="course-details.html">@Model.ChooseArea.ButtonName</a>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
        <!-- Choose Area End -->
        <!-- Courses Area Start -->
        <div class="courses-area pt-150 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-title">
                            <img src="~/img/icon/section.png" alt="section-title">
                            <h2>COURSES WE OFFER</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach(var item in Model.Courses)
                    {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-course">
                    <div class="course-img">
                        <a href="course-details.html">
                            <img src="~/img/course/@item.ImageUrl" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a href="course-details.html">@item.Name</a></h3>
                        <p>@item.Description.Substring(0,120)</p>
                        <a class="default-btn" asp-controller="course" asp-action="coursedetails" asp-route-id="@item.Id">read more</a>
                    </div>
                </div>
            </div>
                    }
                 
                </div>
            </div>
        </div>
        <!-- Courses Area End -->
        <!-- Event Area Start -->
        <div class="event-area one text-center pt-140 pb-150">
            <div class="container">
                <div class="row">
                     <div class="col-xs-12">
                        <div class="section-title">
                            <img src="~/img/icon/section.png" alt="section-title">
                            <h2>UPCOMMING EVENTS</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                   
                        @foreach(var item in Model.Events)
                {
                <div class="col-md-6 hidden-sm hidden-xs">
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a href="event-details.html">@item.ExactDate</a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">@item.EventName</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@item.DateStart.ToString("HH:mm")   @item.DateEnd.ToString("HH:mm")</li>
                                    <li><i class="fa fa-map-marker"></i>@item.Venue</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="eventdetails" asp-route-id="@item.Id">join now</a>
                            </div>
                        </div>
                    </div>
                     </div>
                }
           
                </div>
            </div>
        </div>
        <!-- Event Area End -->
        <!-- Testimonial Area Start -->
        <div class="testimonial-area pt-110 pb-105 text-center">
            <div class="container">
                <div class="row">
                    <div class="testimonial-owl owl-theme owl-carousel">
                        <div class="col-md-8 col-md-offset-2 col-sm-12">
                            <div class="single-testimonial">
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <img src="~/img/testimonial/@Model.SliderTestimonial.ImageUrl" alt="testimonial">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>@Model.SliderTestimonial.Description</p>
                                        <h4>@Model.SliderTestimonial.Name</h4>
                                        <h5>@Model.SliderTestimonial.Profession</h5>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial Area End -->
        <!-- Blog Area Start -->
        <div class="blog-area pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-title text-center">
                            <img src="~/img/icon/section.png" alt="section-title">
                            <h2>LATEST FROM BLOG</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
            @foreach(var item in Model.Blogs)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a asp-controller="blog" asp-action="blogdetails" asp-route-id="@item.Id"><img src="~/img/blog/@item.ImageUrl" alt="blog"></a>
                            <div class="blog-hover">
                                <a href="blog-details.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>@item.Description  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-controller="blog" asp-action="blogdetails" asp-route-id="@item.Id">@item.TitleName </a></h2>
                                <a asp-controller="blog" asp-action="blogdetails" asp-route-id="@item.Id">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="img/blog/blog1.jpg" alt="blog"></a>
                                <div class="blog-hover">
                                    <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-top">
                                    <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                                </div>
                                <div class="blog-bottom">
                                    <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                                    <a href="blog-details.html">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="img/blog/blog2.jpg" alt="blog"></a>
                                <div class="blog-hover">
                                    <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-top">
                                    <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                                </div>
                                <div class="blog-bottom">
                                    <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                                    <a href="blog-details.html">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm col-xs-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="img/blog/blog3.jpg" alt="blog"></a>
                                <div class="blog-hover">
                                    <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-top">
                                    <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                                </div>
                                <div class="blog-bottom">
                                    <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                                    <a href="blog-details.html">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Area End -->
@await Html.PartialAsync("_SubscribeNow",new SubscribeVM());
